## Forecasting using Time Series Analysis (FuTSA '23)

- #####  Welcome to your first assignment. In this assignment, you would be applying the techniques that you would have (hopefully) learnt by now. If not, we suggest you to quickly complete the [suggested material](https://docs.google.com/document/d/1Q6nH_zP2caOInPJDUPzr_RF88-IQEmnyQ0hRBosY9lo/edit?usp=sharing) ASAP and then move to this assignment. 
- ##### This Assignment is ungraded, and is meant for your practice. Although we would suggest you to make a github repository for this project, where you could document your progress (a good way to learn GitHub flavored Markdown) and push your assignment solutions there.



### 1) Import Pandas

In [31]:
import pandas as pd
from pathlib import Path
pd.__version__

'1.5.3'

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

#### Import the dataset from this url (https://raw.githubusercontent.com/FuTSA23/time-series-analysis-datasets/main/ungraded_1.user).

In [35]:

url = 'https://raw.githubusercontent.com/FuTSA23/time-series-analysis-datasets/main/ungraded_1.user'
users = pd.read_csv(url, delimiter='|', names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])
users.set_index('user_id', inplace=True)
users['age'] = pd.to_numeric(users['age'], errors='coerce')
# users['age'] = pd.to_numeric(users['age'])
# users.set_index('user_id', inplace=True)

### 3) Display the first 25 entries

In [44]:
# users = users.drop(0)
users.drop(index=users.index[0], axis=0, inplace=True)
print(users.head())

          age gender  occupation zip_code
user_id
1        24.0      M  technician    85711
2        53.0      F       other    94043
3        23.0      M      writer    32067
4        24.0      M  technician    43537
5        33.0      F       other    15213

### 4) Display the last 10 entries

In [45]:
print(users.tail(10))

          age gender     occupation zip_code
user_id
934      61.0      M       engineer    22902
935      42.0      M         doctor    66221
936      24.0      M          other    32789
937      48.0      M       educator    98072
938      38.0      F     technician    55038
939      26.0      F        student    33319
940      32.0      M  administrator    02215
941      20.0      M        student    97229
942      48.0      F      librarian    78209
943      22.0      M        student    77841

### 5) What is the number of observations in the dataset?

In [46]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    float64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: float64(1), object(3)
memory usage: 36.8+ KB

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [48]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### 7) What is the data type of each column?

In [47]:
# users['age'] = pd.to_numeric(users['age'])
# users['age'] = pd.to_numeric(users['age'], errors='coerce')
print(users.dtypes)

age           float64
gender         object
occupation     object
zip_code       object
dtype: object

### 8) Print only the occupation column

In [49]:
print(users['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [63]:

df= users.drop_duplicates('occupation')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 1 to 138
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         21 non-null     float64
 1   gender      21 non-null     object
 2   occupation  21 non-null     object
 3   zip_code    21 non-null     object
dtypes: float64(1), object(3)
memory usage: 840.0+ bytes

### 10) What is the most frequent occupation?

In [64]:
print(users['occupation'].mode())

0    student
Name: occupation, dtype: object

### 11) Summarize the DataFrame.

In [70]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### 12) Summarize only the occupation column

In [69]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 13) What is the mean age of users?

In [71]:
print(users['age'].mean())

34.05196182396607

### 14) What is the age with least occurrence?

In [74]:
pop = users['age'].value_counts()
print(pop.idxmin)

<bound method Series.idxmin of 30.0    39
25.0    38
22.0    37
28.0    36
27.0    35
        ..
7.0      1
66.0     1
11.0     1
10.0     1
73.0     1
Name: age, Length: 61, dtype: int64>